[Unit]
Description=Update Chromatic Feed hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m
Unit=chromium-build-sources.service

[Install]
WantedBy=timers.target
